@import 'global';

#page-room{
    
    header{
        padding: 20px;
        border-bottom: 1px solid var(--gray-light);
    }

    .content{
        max-width: 1128px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        > img{
            max-height: 32px;
        }

        > div{
            display: flex;
            gap: 16px;

            button {
                height: 32px;

            }

            
        }

        @media (max-width: 768px){
            &{
                > img{
                    margin-bottom: 16px;
                }
            }
        }

        
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 32px;

        .room-title{
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                
                color: var(--black-white);
            }

            span {
                margin-left: 16px;
                background: var(--pink-dark);
                border-radius: 9999px;
                padding: 8px 16px;
                color: var(white-black);
                font-weight: 500;
                font-size: 14px;
            }

        }

        form{
            textarea{
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: var(--white-details);
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                .user-info{
                    display: flex;
                    align-items: center;

                    img{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    span{
                        margin-left: 8px;
                        color: var(--black-white);
                        font-weight: 500;
                        font-size: 14px;

                    }
                }

                > span{
                    font-size: 14px;
                    color: var(--gray-dark);
                    font-weight: 500;

                    button{
                        
                        background: none;
                        border: 0;
                        color: var(--purple);
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                         
                    }
                }
            }
        }
        
        .question-list{
            margin-top: 32px;
            
            .empty-question{
                margin-top: 32px;
                width: 225px;
                position: relative;
    
                left: 50%;
                transform: translateX(-50%);
            }

            .no-empty{
                display: none;
            }
        }

    }

    @media (max-width: 768px){
        .content{
            justify-content: space-around;
        }
    }
}