@import 'global';

.room-code{
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--white-black);
    border: 1px solid var(--white-black);
    cursor: pointer;
    display: flex;


    div{
        background: var(--purple);
        height: 100%;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span{
        color: var(--black-white);
        displaY: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 220px;
        font-size: 14px;
        font-weight: 500;

        @media (max-width: 768px){
            &{
                width: 48px;
                overflow-x: hidden;
                
                font-size: 0;
                padding: 0;

            }
        }
    }
}